<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="/header-footer.css">
      
</head>

<body>
    <div class="content">
    <header>
        <img src="/assets/logo.png" alt="Logo" onClick=return_index()>
            <div>
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
    </header>
    {% block content %} {% endblock %}
    </div>
     <div class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </div>
    <script src="/script.js"></script>
</body>

</html>