{% extends "layout.njk" %} 

{% block head %}
    <link rel="stylesheet" href="/section.css">
    <link rel="stylesheet" href="/receitas.css">
    <title>Receitas</title>
{% endblock%}
{% block content %}
        <section id="revenue" class="more-acessed-cards">
            <div class="revenue-card" id="burger">
                <div class="img-card">
                    <img src="assets/burger.png" alt="Burger">
                </div>
                <div class="info-card">
                    <h1>Triplo Bacon Burger</h1>
                    <p>por Jorge Relato</p>
                </div>

            </div>
            <div class="revenue-card" id="pizza">
                <div class="img-card">
                    <img src="assets/pizza.png" alt="Pizza">
                </div>
                <div class="info-card">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>

            </div>
            <div class="revenue-card" id="espaguete">
                <div class="img-card">
                    <img src="assets/espaguete.png" alt="Espaguete">
                </div>
                <div class="info-card">
                    <h1>Espaguete ao alho</h1>
                    <p>por Júlia Kinoto</p>
                </div>

            </div>
            <div class="revenue-card" id="lasanha">
                <div class="img-card">
                    <img src="assets/lasanha.png" alt="Lasanha">
                </div>
                <div class="info-card">
                    <h1>Lasanha mac n’ cheese</h1>
                    <p>por Juliano Vieira</p>
                </div>

            </div>
            <div class="revenue-card" id="doce">
                <div class="img-card">
                    <img src="assets/doce.png" alt="Doces">
                </div>
                <div class="info-card">
                    <h1>Docinhos pão-do-céu</h1>
                    <p>por Ricardo Golvea</p>
                </div>

            </div>
            <div class="revenue-card" id="asinhas">
                <div class="img-card">
                    <img src="assets/asinhas.png" alt="Asinhas">
                </div>
                <div class="info-card">
                    <h1>Asinhas de frango ao barbecue</h1>
                    <p>por Vania Steroski</p>
                </div>

            </div>
            <div class="revenue-card" id="burger">
                <div class="img-card">
                    <img src="assets/burger.png" alt="Burger">
                </div>
                <div class="info-card">
                    <h1>Triplo Bacon Burger</h1>
                    <p>por Jorge Relato</p>
                </div>

            </div>
            <div class="revenue-card" id="pizza">
                <div class="img-card">
                    <img src="assets/pizza.png" alt="Pizza">
                </div>
                <div class="info-card">
                    <h1>Pizza 4 estações</h1>
                    <p>por Fabiana Melo</p>
                </div>

            </div>
            <div class="revenue-card" id="espaguete">
                <div class="img-card">
                    <img src="assets/espaguete.png" alt="Espaguete">
                </div>
                <div class="info-card">
                    <h1>Espaguete ao alho</h1>
                    <p>por Júlia Kinoto</p>
                </div>

            </div>
            <div class="revenue-card" id="lasanha">
                <div class="img-card">
                    <img src="assets/lasanha.png" alt="Lasanha">
                </div>
                <div class="info-card">
                    <h1>Lasanha mac n’ cheese</h1>
                    <p>por Juliano Vieira</p>
                </div>

            </div>
            <div class="revenue-card" id="doce">
                <div class="img-card">
                    <img src="assets/doce.png" alt="Doces">
                </div>
                <div class="info-card">
                    <h1>Docinhos pão-do-céu</h1>
                    <p>por Ricardo Golvea</p>
                </div>

            </div>
            <div class="revenue-card" id="asinhas">
                <div class="img-card">
                    <img src="assets/asinhas.png" alt="Asinhas">
                </div>
                <div class="info-card">
                    <h1>Asinhas de frango ao barbecue</h1>
                    <p>por Vania Steroski</p>
                </div>

            </div>
        </section>
    </div>
    <div class="modal_overlay">
        <div class="modal">
            <div class="modal-img">
                <img src="" alt="">
            </div>
            <div class="modal-info">
                <h1></h1>
                <p></p>
            </div>
            <a class="close-modal">
                <p>Fechar Modal</p>
            </a>
        </div>
    </div>
    
    {% endblock%}