desafio-02.2/.vscode/
desafio-02.3/.vscode/
desafio-03.1/node_modules
desafio-03.2/node_modules
desafio-03.3/node_modules
desafio-04.1/node_modules
desafio-04.1/.vscode/
desafio-04.3/.vscode/
desafio-04.3/node_modules
desafio-04.4/.vscode/
desafio-04.4/node_modules
desafio-04.5/.vscode/
desafio-04.5/node_modules
desafio-04.6/.vscode/
desafio-04.6/node_modules

