a {
    text-decoration: none;
    color: white;
}

#imgPerfil {
    text-align: center;
    padding: 32px;
}

#imgPerfil img {
    border-radius: 50%;
    margin-bottom: 32px;
}

#imgPerfil h1 {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
}

#imgPerfil h2 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
}

#list {
    margin: 15px 0px;
}

#list h3 {
    font-size: 15px;
    line-height: 25px;
}

#list ul {
    margin: 10px 25px 10px;
}

.links {
    text-align: center;
}

.links a {
    font-size: 12px;
    line-height: 22px;
    margin: 0px 16px;
}

.links a:hover {
    color: rgb(168, 148, 221);
    transition: color 200ms;
}