{% extends "layout.njk" %}

{% block content %}
<form class="card" method="POST" action="/teachers">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/332741/600x600) no-repeat"></section>
    <section class="details">
        <h3>Novo Professor</h3>

        <div class="item">
            <div>Avatar Url</div>
            <div>
                <input 
                    required
                    type="url" 
                    name="avatar_url" 
                    placeholder="http://">
            </div>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>
                <input 
                    required
                    type="text" 
                    name="name" 
                    placeholder="Nome do professor">
                
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                    required
                    type="date" 
                    name="birth">
            </div>
        </div>

        <div class="item">
            <div>Escolaridade</div>
            <div>
                <select name="schooling">
                    <option value="EMC">Ensino Médio Completo</option> 
                    <option value="ESC">Ensino Superior Completo</option>
                    <option value="MeD">Mestrado e Doutorado</option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Aula</div>
            <div>
                <span> <input type="radio" name="classes" value="Presencial" checked> Presencial</span>
                <span> <input type="radio" name="classes" value="EAD" > À distância</span>
            </div>
        </div>
        <div class="item">
            <div>Área de atuação</div>
            <div>
                 <input 
                    type="text" 
                    name="services" 
                    placeholder="Separe as matérias por vírgula">
            </div>
        </div>
        <button type="submit">Cadastrar</button>
    </section>
</form>
{% endblock content %}
