
        <div class="item">
            <div>Avatar Url</div>
            <div>
                <input 
                    required
                    type="url" 
                    name="avatar_url" 
                    placeholder="http://"
                    value="{{teacher.avatar_url}}">
            </div>
        </div>

        <div class="item">
            <div>Professor</div>
            <div>
                <input 
                    required
                    type="text" 
                    name="name" 
                    placeholder="Nome do professor"
                    value="{{teacher.name}}">
                
            </div>
        </div>

        <div class="item">
            <div>Data de nascimento</div>
            <div>
                <input 
                    required
                    type="date" 
                    name="birth_date"
                    value="{{teacher.birth_date}}"
                    >
            </div>
        </div>

        <div class="item">
            <div>Escolaridade</div>
            <div>
                <select name="education_level">
                    <option 
                        value="EMC" 
                        {% if teacher.education_level == "EMC" %}
                            selected
                        {% endif %}>
                        Ensino Médio Completo
                    </option> 
                    <option 
                        value="ESC"{% if teacher.education_level == "ESC" %}
                            selected
                        {% endif %}>
                        Ensino Superior Completo
                    </option>
                    <option  
                        value="MeD" {% if teacher.education_level == "MeD" %}
                            selected
                        {% endif %}>
                        Mestrado e Doutorado
                    </option>
                </select>
            </div>
        </div>

        <div class="item">
            <div>Aula</div>
            <div>
                <span> 
                    <input 
                        type="radio" 
                        name="class_type" 
                        value="Presencial" 
                        {% if teacher.class_type == "Presencial" %}
                            checked
                        {% endif %}> 
                    Presencial
                </span>
                <span>  
                    <input 
                        type="radio" 
                        name="class_type"
                        value="EAD"
                        {% if teacher.class_type == "EAD" %}
                            checked
                        {% endif %}ecked> 
                    À distância
                </span>
            </div>
        </div>
        <div class="item">
            <div>Área de atuação</div>
            <div>
                 <input 
                    type="text" 
                    name="subjects_taught" 
                    placeholder="Separe as matérias por vírgula"
                    value="{{teacher.subjects_taught}}">
            </div>
        </div>
       