@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.history {
    margin-top: 50px;
}

.history h1 {
    margin-top: 30px;
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
}

.initial-title h1 {
    margin: 0;
}

.history p {
    margin-top: 20px;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}