{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/332741/500x500) no-repeat"></section>
    <section class="details">
        <div class="item">
            <div>Professor</div>
            <div>Evandro Silva</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>35</div>
        </div>
        <div class="item">
            <div>Escolaridade</div>
            <div>Mestre</div>
        </div>
        <div class="item">
            <div>Aula</div>
            <div>EAD</div>
        </div>
        <div class="item">
            <div>Acompanhamento</div>
            <div>
                <span>Matemática</span>
                <span>Química</span>
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>20/02/2020</div>
        </div>
    </section>
</div>
{% endblock content %}
