{% extends "layout.njk" %}

    {% block content %}
    <div class="section">
        <section class="grid">
            <div class="curso-card" id="starter">
                <div class="img-card">
                    <img src="https://app.rocketseat.com.br/static/media/Starter.64c237cc.svg" alt="Starter">
                </div>
                <div class="content-card">
                    <p>5 Módulos</p>
                    <p class="car_price">Gratuito</p>
                </div>
            </div>
            <div class="curso-card" id="launchbase">
                <div class="img-card">
                    <img src="https://app.rocketseat.com.br/static/media/LaunchBase.08285320.svg" alt="Launchbase ">
                </div>
                <div class="content-card">
                    <p>16 Módulos</p>
                    <p class="car_price">Pago</p>
                </div>
            </div>
            <div class="curso-card" id="gostack">
                <div class="img-card">
                    <img src="https://app.rocketseat.com.br/static/media/GoStack.83a178a0.svg" alt="GoStack">
                </div>
                <div class="content-card">
                    <p>32 Módulos</p>
                    <p class="car_price">Pago</p>
                </div>
            </div>
        </section>
    </div>
    <div class="modal_overlay">
        <div class="modal">
            <div>
                <a class="fullscreen-modal">
                    <i class="material-icons">fullscreen</i>
                </a>
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <iframe frameborder="0" src=""></iframe>
        </div>
    </div>
    <script src="script.js"></script>
    {% endblock %}