{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
        class="avatar" 
        style="background: url({{teacher.avatar_url}}) no-repeat">
    </section>
    <section class="details">
        <h3>Editar Professor</h3>
        
            <form  method="POST" action="/teachers?_method=PUT">
                {% include 'teachers/fields.njk'%}
                <input 
                    type="hidden"
                    name="id"
                    value = "{{teacher.id}}">
                <div class="edit-buttons">
                    <button  type="submit">Salvar</button>
                    <button form="form-delete" type="submit">Excluir</button>
                </div>
            </form>
            <form id="form-delete" action="/teachers?_method=DELETE" method="POST">
                <input 
                    type="hidden"
                    name="id"
                    value = "{{teacher.id}}">
            </form>
        
    </section>

</div>
{% endblock content %}
